{% extends 'base.html.twig' %} {# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/addCompilation.css') }}" />

{% endblock %} #} {% block title %}Vos collections{% endblock %} {%block body %}

<div class="wrapper">
  {{ form_errors(addCompilationForm) }}

  {{ form_start(addCompilationForm, {'attr': {'data-turbo': false}}) }}
    {{ form_row(addCompilationForm.name) }}
    {{ form_row(addCompilationForm.tags) }}

    <button type="submit">Ajouter</button>

  {{ form_end(addCompilationForm) }}
</div>

{% endblock %}
