{% extends 'base.html.twig' %}

{# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/addCompilation.css') }}" />

{% endblock %} #}

{% block title %}Vos collections{% endblock %}

{%block body %}

{{ form_errors(addCompilationForm) }}

{{ form_start(addCompilationForm) }}
{{ form_row(addCompilationForm.name) }}
{{ form_row(addCompilationForm.tags) }}
{# {{ form_row(addCompilationForm.recipes) }} #}

<button type="submit">Ajouter</button>

{{ form_end(addCompilationForm) }}

{% endblock %}
