{% extends 'base.html.twig' %}

{# {% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('css/detailCompilation.css') }}" />

{% endblock %} #}

{% block javascripts %}

  <script src="{{ asset('js/script.js') }}" defer></script>

{% endblock javascripts %}

{% block meta_description %}

  <meta name="description" content="{{ metaDescription }}">

{% endblock meta_description %}

{% block title %} {{ compilation.name }} | Cuizinoz {% endblock %}

{% block body %}

<div class="wrapper">
  <nav aria-label="Breadcrumb" class="breadcrumb">
    <ol>
      <li><a href="{{ path('app_home') }}">Accueil</a></li>
      <li><a href="{{ path('list_compilation') }}">Collections</a></li>
      <li><span aria-current="page">{{ compilation.name }}</span></li>
    </ol>
  </nav>

  <h1>{{ compilation.name }}</h1>

  {% for tag in compilation.tags %}

    <a href="{{ path('app_tag', { tag: tag.id }) }}">
      {{ tag.name }}
    </a>

  {% endfor %}

  {% include "components/_recipeContainer.html.twig" with { context: 'compilationDetail' } %}
  
</div>
{% endblock %}
