{% extends 'base.html.twig' %} {% block title %}Vos collections{% endblock %} {%
block body %}

<h2>Vos collections</h2>

<div class="compilation_container">
  {% for compilation in user.compilations %}
  <a href="{{ path('detail_compilation', { compilation: compilation.id }) }}">
    <div class="compilation_card">
      <p>{{ compilation.name }}</p>
      <strong> {{ compilation.recipes | length }} </strong>
      <div class="compilation_actions">
        <i class="fa-solid fa-pen-nib"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{{ form_errors(addCompilationForm) }}

{{ form_start(addCompilationForm) }}

{{ form_row(addCompilationForm.name) }}
{{ form_row(addCompilationForm.tags) }}
{{ form_row(addCompilationForm.recipes) }}

<button type="submit">Ajouter</button>

{{ form_end(addCompilationForm) }}
{% endblock %}
