{% extends 'base.html.twig' %}

{# {% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('css/userCompilation.css') }}" />

{% endblock %} #}

{% block meta_description %}

  <meta name="description" content="{{ metaDescription }}">

{% endblock meta_description %}

{% block title %}Vos collections{% endblock %}

{% block body %}

<div class="wrapper">
  <nav aria-label="Breadcrumb" class="breadcrumb">
    <ol>
      <li><a href="{{ path('app_home') }}">Accueil</a></li>
      <li><a href="{{ path('detailOwn_user') }}">Profil</a></li>
      <li><span aria-current="page">Collections</span></li>
    </ol>
  </nav>

<h1>Vos collections</h1>

  <h2 class="h2_200_p">Créations</h2>

  <div class="compilation_container">
    {% for compilation in user.compilations %}
    <a href="{{ path('detail_compilation', { compilation: compilation.id }) }}">
      <div class="compilation_card">
        <p>{{ compilation.name }}</p>
        <strong> {{ compilation.recipes | length }} recettes</strong>
        <p>NbTags: {{ compilation.tags | length }}</p>
      </div>
    </a>
    {% endfor %}

    <a href="{{ path('create_compilation') }}">
      <div class="compilation_card">
        <i class="fa-solid fa-plus"></i>
      </div>
    </a>
  </div>

  <h2 class="h2_200_p">Sauvegardes</h2>

  <div class="compilation_container">
    {% for save in user.saves %}
    <a
      href="{{
        path('detail_compilation', { compilation: save.compilation.id })
      }}"
    >
      <div class="compilation_card">
        <p>{{ save.compilation.name }}</p>
        <strong> {{ save.compilation.recipes | length }} recettes</strong>
        <p>NbTags: {{ save.compilation.tags | length }}</p>
        <div class="compilation_actions">
          <a
            href="{{
              path('remove_compilation', { user: user.id, save: save.id })
            }}"
          >
            <i class="fa-solid fa-trash"></i>
          </a>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
