{% extends 'base.html.twig' %} 

{# {% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('css/listCompilation.css') }}" />

{% endblock %} #}

{% block meta_description %}

  <meta name="description" content="{{ metaDescription }}">

{% endblock meta_description %}

{% block title %}Collections{% endblock %}

{% block body %}

<div class="wrapper">
  <nav aria-label="Breadcrumb" class="breadcrumb">
    <ol>
      <li><a href="{{ path('app_home') }}">Accueil</a></li>
      <li><span aria-current="page">Collections du site</span></li>
    </ol>
  </nav>

  <h1>Les collections du site</h1>

  <div class="compilation_container">

    {% for compilation in compilations %}
    
      <div class="compilation_card">
        <div class="compilation_infos_container">
          
          <a href="{{ path('detail_compilation', { compilation: compilation.id }) }}" class="compilation_detail_link">
            {{ compilation.name }}
          </a>

          <a href="{{ path('detail_user', { user: compilation.user.id }) }}">
              {{ compilation.user.pseudo }}
          </a>

          <p><strong> {{ compilation.recipes | length }}</strong> recettes </p>
          
          <p> 
            {% if compilation.tags|length > 1 %}
              Tags:
            {% else %}
              Tag:
            {% endif %}
            <br>
            {% for i in range(0, min(2, compilation.tags|length - 1), 1) %}

              <a href="{{ path('app_tag', { tag: compilation.tags[i].id }) }}">
                {{ compilation.tags[i].name }}
              </a>

            {% endfor %}
          </p>
        </div>

        {% if app.user %}

          <div class="compilation_actions">
          
            <a href="{{ path('add_compilation', { compilation: compilation.id, user: app.user.id }) }}" title="Sauvegarder la recette" class="compilation_save_link">
              <i class="fa-solid fa-floppy-disk"></i> Sauvegarder
            </a>
          
          </div>

        {% endif %}
      </div>

    {% else %}

      <h2>Pas de collections</h2>

    {% endfor %}
  </div>

  {% if app.user %}

    <a href="{{ path('create_recipe') }}" class="addRecipe_btn">
      <i class="fa-regular fa-plus"></i>
      <span>Créer une recette</span>
    </a>

  {% endif %}

</div>

{% endblock %}
