{% extends 'base.html.twig' %} {# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/home.css') }}" />

{% endblock %} #} {% block title %}Cuizinoz{% endblock %} {% block body %}

<div class="wrapper">
  <section class="home_section_1">
    <figure class="home_section_1_background_image">
      <img
        src="{{ asset('assets/homePageBannerBackground.jpg') }}"
        alt="Bannière du site Cuizinoz, montrant un plat de ragoût"
      />
    </figure>
    <div class="home_section_1_overlay">
      <figure class="home_section_1_foreground_image">
        <img
          src="{{ asset('assets/homepageBannerForeground.png') }}"
          alt="Toque de cuisinier survolant l'image de couverture"
        />
      </figure>
      <h1>Bienvenue sur Cuizinoz</h1>
      <p>l'application où on ose cuisiner !</p>
      <div class="home_section_1_arrow">
        <i class="fa-solid fa-arrow-down"></i>
      </div>
    </div>
  </section>

  <section class="home_section_2">
    <h2>Recettes à la une</h2>
    <div class="home_section_2_recipe_container">
      {% for recipe in recipes %}

      <div class="home_section_2_recipe_card">
        <figure class="home_section_2_recipe_image_container">
          {% if recipe.photos|length > 0 %}
          <a
            href="{{ path('detail_recipe', { recipe: recipe.id }) }}"
            title="{{ recipe.name }}"
          >
            <img
              src="{{ asset('uploads/gallery/' ~ recipe.photos|first.name) }}"
              alt="Photo de {{ recipe.name }}"
            />
          </a>

          {% else %}

          <a
            href="{{ path('detail_recipe', { recipe: recipe.id }) }}"
            title="{{ recipe.name }}"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Question_mark_alternate.svg"
              alt="Pas encore de photo"
            />
          </a>

          {% endif %}
        </figure>
        <div class="home_section_2_recipe_infos_container">
          <p>{{ recipe.name }}</p>
          <p>
            Une recette de
            <a href="{{ path('detail_user', { user: recipe.user.id }) }}">
              <span class="home_section_2_user">{{ recipe.user.pseudo }}</span>
            </a>
          </p>
          <a
            href="{{
              path('recipe_category', { category: recipe.category.id })
            }}"
          >
            <span class="home_section_2_category">{{
              recipe.category.name
            }}</span>
          </a>

          {% if recipe.notes|length > 0 %} {% set roundedNote =
          (recipe.averageNote * 2)|round / 2 %}

          <div>
            {% if roundedNote == 0 %}

            <i class="fa-regular fa-star"></i
            ><!--
            --><i class="fa-regular fa-star"></i
            ><!--
            --><i class="fa-regular fa-star"></i
            ><!--
            --><i class="fa-regular fa-star"></i
            ><!--
            --><i class="fa-regular fa-star"></i>

            {% elseif roundedNote == 5 %}

            <i class="fa-solid fa-star"></i
            ><!--
            --><i class="fa-solid fa-star"></i
            ><!--
            --><i class="fa-solid fa-star"></i
            ><!--
            --><i class="fa-solid fa-star"></i
            ><!--
            --><i class="fa-solid fa-star"></i>

            {% else %} {% for i in 1..roundedNote %}<!--
              --><i class="fa-solid fa-star"></i
            ><!--
            -->{% endfor %}<!--

            Si roundedNote est différent de son arrondi à
            l'entier inférieur, alors il est décimal et il
            faut rajouter une demi-étoile
            -->{% if roundedNote != roundedNote|round(0, 'floor') %}<!--
              --><i class="fa-solid fa-star-half-stroke"></i
            ><!--
            -->{% endif %}<!--

              Remplir différence jusqu'à 5 d'étoiles vides
            -->{% for i in roundedNote + 1..5 %}<!--
              --><i class="fa-regular fa-star"></i
            ><!--
            -->{% endfor %} {% endif %}
          </div>

          {% else %}

          <div>
            <i class="fa-solid fa-star" style="color: #a0a0a0"></i
            ><!--
            --><i class="fa-solid fa-star" style="color: #a0a0a0"></i
            ><!--
            --><i class="fa-solid fa-star" style="color: #a0a0a0"></i
            ><!--
            --><i class="fa-solid fa-star" style="color: #a0a0a0"></i
            ><!--
            --><i class="fa-solid fa-star" style="color: #a0a0a0"></i>
          </div>

          {% endif %}
        </div>
      </div>

      {% endfor %}
    </div>
    <a href="{{ path('app_recipe') }}" class="home_section_2_recipe_btn"
      >Découvrir plus de recettes</a
    >
  </section>

  <section class="home_section_3">
    <p>“Cooking is love made visible through flavors.”</p>
  </section>

  <section class="home_section_4">
    <h2>La communauté</h2>
    <div class="home_section_4_comment_container">
      {% if comments|length > 0 %} {% for comment in comments %}

      <div class="home_section_4_comment_card">
        <h4>{{ comment.title }}</h4>
        <p>
          Dans
          <a href="{{ path('detail_recipe', { recipe: comment.recipe.id }) }}">
            <span class="home_section_4_recipe">
              {{ comment.recipe.name }}
            </span>
          </a>
        </p>
        <p class="home_section_4_comment_content">{{ comment.content }}</p>
        <span>
          <a href="{{ path('detail_user', { user: comment.user.id }) }}">
            <span class="home_section_4_user">{{
              comment.user.pseudo
            }}</span></a
          >,
          {{ comment.creationDateFr }}
        </span>
      </div>

      {% endfor %} {% else %}

      <h3>Pas de commentaires</h3>

      {% endif %}
    </div>
  </section>

  <section class="home_section5">
    <h2>Catégories</h2>

    {% if categories|length > 0 %}

    <div class="home_section_5_category_container">
      {% for category in categories %}

      <div class="home_section_5_category_card">
        <figure class="home_section_5_category_image_container">
          <a
            href="{{ path('recipe_category', { category: category.id }) }}"
            title="{{ category.name }}"
          >
            <img
              src="{{ category.photo }}"
              alt="Photo de {{ category.name }}"
            />
          </a>
        </figure>
        <p>
          {{ category.name }}
        </p>
      </div>

      {% endfor %}
    </div>

    {% else %}

    <h3>Pas de catégories</h3>

    {% endif %}
  </section>

  {% if app.user %}

  <a href="{{ path('create_recipe') }}" class="addRecipe_btn">
    <i class="fa-regular fa-plus"></i>
    <span>Créer une recette</span>
  </a>
</div>

{% endif %} {% endblock %}
