{% extends 'base.html.twig' %}

{# {% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('css/detailCategory.css') }}" />

{% endblock stylesheets %} #}

{% block javascripts %}

  {{ parent() }}
  <script src="{{ asset('js/script.js') }}"></script>

{% endblock %}

{% block meta_description %}

  <meta name="description" content="{{ metaDescription }}">

{% endblock meta_description %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
<div class="wrapper">
  <nav aria-label="Breadcrumb" class="breadcrumb">
    <ol>
      <li><a href="{{ path('app_home') }}">Accueil</a></li>
      <li><span aria-current="page">{{ category.name }}</span></li>
    </ol>
  </nav>

  <h1 class="h2_200_p">{{category.name ~ "s"}}</h1>

  {% include "components/_recipeContainer.html.twig" with { recipes: recipes, filterForm: filterForm, context: 'all' } only %}  

</div>
{% endblock body %}
