{% extends 'base.html.twig' %} {# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/detailCategory.css') }}" />

{% endblock %} #} {% block title %}{{ category.name }}{% endblock %} {% block
body %}

<div class="wrapper">
  <h1 class="h2_200_p">{{category.name ~ "s"}}</h1>

  <ul>
    <li>
      Note
      <a
        href="{{
          path('recipe_category', {
            category: category.id,
            orderBy: 'note',
            order: 'ASC'
          })
        }}"
        ><i class="fa-solid fa-arrow-down-1-9"></i
      ></a>
      <a
        href="{{
          path('recipe_category', {
            category: category.id,
            orderBy: 'note',
            order: 'DESC'
          })
        }}"
        ><i class="fa-solid fa-arrow-up-1-9"></i
      ></a>
    </li>
    <li>
      A - Z
      <a
        href="{{
          path('recipe_category', {
            category: category.id,
            orderBy: 'name',
            order: 'ASC'
          })
        }}"
        ><i class="fa-solid fa-arrow-down-a-z"></i
      ></a>
      <a
        href="{{
          path('recipe_category', {
            category: category.id,
            orderBy: 'name',
            order: 'DESC'
          })
        }}"
        ><i class="fa-solid fa-arrow-up-a-z"></i
      ></a>
    </li>
  </ul>

  <div class="recipe_container">
    {% for recipe in recipes %}

    <div class="recipe_card">
      <figure class="recipe_image_container">
        {% if recipe.photos|length > 0 %} {# affiche la première photo de la
        collection photos de recipe #}
        <a href="{{ path('detail_recipe', { recipe: recipe.id }) }}">
          <img
            src="{{ asset('uploads/gallery/' ~ recipe.photos|first.name) }}"
            alt="{{ recipe.photos|first.alt }}"
          />{# {{ recipe.photos|first.url }} #}
        </a>

        {# recipe.photos == null -> pas de galerie de photos pour cette recette
        #} {% else %}
        <a href="{{ path('detail_recipe', { recipe: recipe.id }) }}">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Question_mark_alternate.svg"
            alt="Pas encore de photo"
          />
        </a>
        {% endif %}
      </figure>
      <div class="recipe_infos_container">
        <p>{{ recipe.name }}</p>
        <p>
          Une recette de
          <a href="{{ path('detail_user', { user: recipe.user.id }) }}">
            {{ recipe.user.pseudo }}
          </a>
        </p>
        
        {% if recipe.notes|length > 0 %}
            <!-- Note arrondie au demi ou entier le plus proche -->
            <!--
              1.3 => 1.5
              3.8 => 4
            -->
            {% set roundedNote = (recipe.averageNote * 2)|round / 2 %}
  
            <div>
                <!-- Remplissage d'étoiles pleines -->
                {% if roundedNote|round(0, 'floor') > 0 %} 
                  {% for i in range(1, roundedNote|round(0, 'floor'), 1) %}
                  
                    <i class="fa-solid fa-star"></i>
                  
                  {% endfor %}
                {% endif %}

                <!-- Ajout demi-étoile si roundedNote décimal -->
                {% if roundedNote != roundedNote|round(0, 'floor') %}

                  <i class="fa-solid fa-star-half-stroke"></i>

                {% endif %}

                <!-- Complétion avec étoiles vides si besoin -->
                {% if roundedNote|round(0, 'ceil') < 5 %}
                  {% for i in range(roundedNote|round(0, 'ceil'), 4, 1) %}
                  
                    <i class="fa-regular fa-star"></i>
                  
                  {% endfor %}
                {% endif %}
            </div>
  
          {% else %}
  
            <div>
              {% for i in range(1, 5, 1) %}

                <i class="fa-solid fa-star" style="color: #a0a0a0"></i>
                  
              {% endfor %}
            </div>
  
          {% endif %}

        <a
          href="{{ path('recipe_category', { category: recipe.category.id }) }}"
        >
          {{ recipe.category.name }}
        </a>
        {% if app.user %}

        <div class="recipe_actions">
          <a
            href="{{
              path('add_favorite', { user: app.user.id, recipe: recipe.id })
            }}"
          >
            <i class="fa-regular fa-heart"></i>
          </a>
          {# <i class="fa-solid fa-plus"></i> #}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
