{% extends 'base.html.twig' %}

{# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/detailCategory.css') }}">

{% endblock %} #}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

<h2 class="h2_200_p">{{category.name ~ "s"}}</h2>

<ul>
    <li><a href="{{ path('recipe_category', { category: category.id, orderBy: 'note', order: 'DESC' }) }}">Note</a></li>
    <li><a href="{{ path('recipe_category', { category: category.id, orderBy: 'name', order: 'ASC' }) }}">A - Z</a></li>
</ul>

<div class="recipe_container">

    {% for recipe in recipes %}

    <div class="recipe_card">

        <figure class="recipe_image_container">

            {% if recipe.photos|length > 0 %}

            {# affiche la première photo de la collection photos de recipe #}
            <a href="{{ path('detail_recipe', { recipe: recipe.id }) }}">
                <img src="{{ asset('uploads/gallery/' ~ recipe.photos|first.name) }}" alt="{{ recipe.photos|first.alt }}">{# {{ recipe.photos|first.url }} #}
            </a>

            {# recipe.photos == null -> pas de galerie de photos pour cette recette #}
            {% else %}
            <a href="{{ path('detail_recipe', { recipe: recipe.id }) }}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Question_mark_alternate.svg"
                    alt="Pas encore de photo">
            </a>
            {% endif %}

        </figure>
        <div class="recipe_infos_container">
            <p>{{ recipe.name }}</p>
            <p>Une recette de 
                <a href="{{ path('detail_user', {user: recipe.user.id}) }}">
                    {{ recipe.user.pseudo }}
                </a>
            </p>
            <p>Note: {{ recipe.note }} (temp)</p>
            <a href="{{ path('recipe_category', { category: recipe.category.id }) }}">
                {{ recipe.category.name }}
            </a>
            {% if app.user %}

            <div class="recipe_actions">
                <a href="{{ path('add_favorite', { user: app.user.id, recipe: recipe.id }) }}">
                    <i class="fa-regular fa-heart"></i>
                </a>
                {# <i class="fa-solid fa-plus"></i> #}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}