{% extends 'base.html.twig' %}

{# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/listRecipe.css') }}" />

{% endblock %} #}

{% block meta_description %}

  <meta name="description" content="{{ metaDescription }}">

{% endblock meta_description %}

{% block title %}Nos recettes{% endblock %} 

{% block body %}
<div class="wrapper" style="display: flex; flex-direction: column; align-items: center;">
    <nav aria-label="Breadcrumb" class="breadcrumb">
        <ol>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><span aria-current="page">Catégories</span></li>
        </ol>
    </nav>

    <h1>Catégories du site</h1>

    <div class="category_container" style="width: 80%;">
        
        {% for category in categories %}

            <div class="category_card">
                <figure class="category_image_container">

                    <a href="{{ path('detail_category', { category: category.id }) }}">
                        <img loading="lazy" src="{{ category.photo }}" alt="Photo de {{ category.name }}">
                    </a>

                </figure>
                <div class="category_name_container">
                    <a href="{{ path('detail_category', { category: category.id }) }}">
                        <h3>{{ category.name ~ "s" }}</h3>
                    </a>
                </div>
            </div>

        {% endfor %}
        
    </div>
</div>
{% endblock %}
