<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ recipe.name }}</title>

    <style>

      h1 {
        text-align: center;
      }

      .figure_and_description {
        display: flex;
      }

      .figure_and_description>figure {
        width: 250px;
        height: 250px;

        overflow: hidden;

        border-radius: 5px;
      }

      .figure_and_description>figure>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .figure_and_description ul>li {
        list-style-type: circle;
        color: red;
      }

      .instructions {
      padding: 10px;

        & p {
            text-align: justify;
          }
      }

      footer {
        position: absolute;
        bottom: 0;

        width: 100%;
        
        text-align: center;
      }

    </style>
  </head>
  <body>
    <h1>
      {{ recipe.name }}
    </h1>

    <section class="figure_and_description">
      <figure>
        <img src="data:image/png;base64,{{ image }}" alt="Photo de {{ recipe.name }}">
      </figure>
      
      <div class="description">
        <p>
          <strong>Temps de préparation :</strong><!----> {{ recipe.preparationTime }} minutes
        </p>
        <p>
          <strong>Catégorie :</strong><!----> {{ recipe.category }}
        </p>
        <p>
          <strong>Ingrédients requis :</strong><br>
          <ul>
            <li><strong>5</strong> Lorem ipsum, dolor sit amet</li>
            <li><strong>3</strong> Lorem ipsum, dolor sit amet</li>
            <li><strong>2</strong> Lorem ipsum, dolor sit amet</li>
          </ul>
        </p>
      </div>
    </section>
    
    <section class="instructions">
      <p>
        {{ recipe.instructions }}
      </p>
    </section>
      
      <footer>
        &copy; Cuizinoz {{ "now"|date("Y") }}
      </footer>
  </body>
</html>
