{% extends 'base.html.twig' %}

{# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/detailRecipe.css') }}" />

{% endblock %} #}

{% block title %}{{ recipe.name ~ " - " ~ recipe.user.pseudo}}{% endblock %}

{% block body %}

<h2 class="h2_200_p">{{ recipe.name }}</h2>

{# <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Question_mark_alternate.svg" alt="Pas encore de photo">
#}

<div class="detail_recipe_container">

    <div class="carousel">
        <section id="main-carousel" class="splide" aria-label="Beautiful Images">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for photo in recipe.photos %}
                    <li class="splide__slide">
                        <img src="{{ asset('uploads/gallery/' ~ photo.name) }}" alt="">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section id="thumbnail-carousel" class="splide"
            aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel.">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for photo in recipe.photos %}
                    <li class="splide__slide">
                        <img src="{{ asset('uploads/gallery/' ~ photo.name) }}" alt="">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>

    <div class="detail_info_container">
        <p>Par {{ recipe.user.pseudo }}</p>
        <p>Temps de préparation: {{ recipe.preparationTime }} minutes</p>
        <p>Catégorie: {{ recipe.category.name }}</p>
        <p>Note: {{ recipe.note }}</p>
        <p>Ingrédients requis: <br>
        <ul>
            {% for contain in recipe.contains %}

            <li>{{ contain.ingredient.name ~ " " ~ contain.quantity ~ " " ~ contain.ingredient.unit}}</li>
            {% endfor %}
        </ul>
        </p>
        <p>Instructions de préparation: <br>
            {{ recipe.instructions }}</p>
        {% if app.user %}

        <div class="detail_actions_container">
            <a href="{{ path('add_favorite', { user: app.user.id, recipe: recipe.id }) }}">
                <i class="fa-regular fa-heart"></i>
            </a>
            {# <i class="fa-solid fa-plus"></i> #}
            {% if app.user.id == recipe.user.id %}
            <a href="{{ path('edit_recipe', { recipe: recipe.id }) }}">
                <i class="fa-solid fa-pen-nib"></i>
            </a>
            {% endif %}

            <div>
                {% for compilation in app.user.compilations %}
                    {{ compilation.name }}
                    <a href="{{ path('add_recipe_compilation', {compilation: compilation.id, recipe: recipe.id}) }}">Ajouter</a>
                {% endfor %}
            </div>

        </div>
        {% endif %}
    </div>
</div>
</div>
<div class="detail_comments_container">
    {% for comment in recipe.comments %}
    <div class="detail_comment">
        <h3>{{ comment.title }}</h3>
        <p class="detail_comment_content">{{ comment.content }}</p>
        <p>Créé le {{ comment.creationDateFr }} par {{ comment.user.pseudo }}</p>
        <p>NOTE</p>
    </div>
    {% endfor %}

    {% if app.user %}

    {{ form_errors(addCommentForm) }}
    {{ form_start(addCommentForm) }}
    {{ form_row(addCommentForm.title) }}
    {{ form_row(addCommentForm.content) }}

    <button type="submit">Poster commentaire</button>
    {{ form_end(addCommentForm) }}
    {% endif %}
</div>

{% endblock %}