{% extends 'base.html.twig' %}

{# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/detailRecipe.css') }}" />

{% endblock %} #}

{% block javascripts %}

<script src="{{ asset('js/script.js') }}"></script>

{% endblock %}

{% block title %}{{ recipe.name ~ " - " ~ recipe.user.pseudo}}{% endblock %}

{% block body %}

<div class="wrapper">
    
    <h1 class="h2_200_p">{{ recipe.name }}</h1>

{# <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Question_mark_alternate.svg" alt="Pas encore de photo">
#}

<div class="detail_recipe_container">

    <div class="carousel">
        <section id="main-carousel" class="splide" aria-label="Beautiful Images">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for photo in recipe.photos %}
                    <li class="splide__slide">
                        <img src="{{ asset('uploads/gallery/' ~ photo.name) }}" alt="">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section id="thumbnail-carousel" class="splide"
            aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel.">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for photo in recipe.photos %}
                    <li class="splide__slide">
                        <img src="{{ asset('uploads/gallery/' ~ photo.name) }}" alt="">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>

    <div class="detail_info_container">
        <p>Par
            <a href="{{ path('detail_user', { user: recipe.user.id }) }}">
                {{ recipe.user.pseudo }}
            </a>
        </p>
        <p>Temps de préparation: {{ recipe.preparationTime }} minutes</p>
        <p>Catégorie: {{ recipe.category.name }}</p>

        <p><strong>{{ recipe.averageNote }}/5</strong> ({{ recipe.notes|length }} votes)</p>

        <p>Ingrédients requis: <br>
        <ul>
            {% for contain in recipe.contains %}

            <li>{{ contain.ingredient.name ~ " " ~ contain.quantity ~ " " ~ contain.ingredient.unit}}</li>
            {% endfor %}
        </ul>
        </p>
        <p>Instructions de préparation: <br>
            {{ recipe.instructions }}</p>
        {% if app.user %}

        <div class="detail_actions_container">
            <a href="{{ path('add_favorite', { user: app.user.id, recipe: recipe.id }) }}">
                <i class="fa-regular fa-heart"></i>
            </a>
            {% if app.user.id == recipe.user.id %}
            <a href="{{ path('edit_recipe', { recipe: recipe.id }) }}">
                <i class="fa-solid fa-pen-nib"></i>
            </a>
            {% endif %}

            <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path('detail_recipe', { recipe: recipe.id })) }}">
              <button>Partager sur facebook</button>
            </a>

            <div>
                {% for compilation in app.user.compilations %}
                    {{ compilation.name }}
                    {# <a href="{{ path('add_recipe_compilation', {compilation: compilation.id, recipe: recipe.id}) }}">Ajouter</a> #}
                    <button class="compilation_add_recipe_btn" data-compilation={{ compilation.id }} data-recipe={{ recipe.id }}>Ajouter</button>
                {% endfor %}
            </div>

        </div>
        {% endif %}
    </div>
</div>
</div>
<div class="detail_comments_container">
    {% for comment in recipe.comments %}
    <div class="detail_comment">
        <h3>{{ comment.title }}</h3>
        <p class="detail_comment_content">{{ comment.content }}</p>
        <p>
            <a href="{{ path('detail_user', { user: comment.user.id }) }}">                
                {{ comment.user.pseudo }}<!--
            --></a>,
            {{ comment.creationDateFr }}
        </p>
        <p>NOTE</p>
    </div>
    {% endfor %}

    {% if app.user %}

    {{ form_errors(addNoteForm) }}
    {{ form_start(addNoteForm) }}
    {{ form_row(addNoteForm.note) }}

    <button type="submit">Noter</button>
    {{ form_end(addNoteForm) }}


    {{ form_errors(addCommentForm) }}
    {{ form_start(addCommentForm) }}
    {{ form_row(addCommentForm.title) }}
    {{ form_row(addCommentForm.content) }}

    <button type="submit">Poster commentaire</button>
    {{ form_end(addCommentForm) }}
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var main = new Splide("#main-carousel", {
          type: "fade",
          rewind: true,
          pagination: false,
          arrows: true,
        });

        var thumbnails = new Splide("#thumbnail-carousel", {
          fixedWidth: 100,
          fixedHeight: 60,
          gap: 10,
          rewind: true,
          pagination: true,
          isNavigation: true,
          arrows: false,
          breakpoints: {
            600: {
              fixedWidth: 60,
              fixedHeight: 44,
            },
          },
        });

        main.sync(thumbnails);
        main.mount();
        thumbnails.mount();
      });
    </script>

</div>
{% endblock %}