{% extends 'base.html.twig' %} {# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/editRecipe.css') }}" />

{% endblock %} #} {% block title %}

{{"Modification " ~ recipe.name ~ " - " ~ recipe.user.pseudo}}

{% endblock %} {% block body %}

<div class="wrapper">
  <h1 class="h2_200_p">Modifier {{ recipe.name }}</h1>

  <div class="h2_200_p">
    {{ form_errors(editRecipeForm) }}
    {{ form_start(editRecipeForm) }}
    {{ form_row(editRecipeForm.name) }}
    {{ form_row(editRecipeForm.preparationTime) }}
    {{ form_row(editRecipeForm.instructions) }}
    {{ form_row(editRecipeForm.category) }}

    <button type="submit">Modifier recette</button>

    {{ form_end(editRecipeForm) }}
  </div>
</div>

{% endblock %}
