{% extends 'base.html.twig' %}

{% block title %}Nos recettes{% endblock %}

{% block body %}

<h2>Nos recettes</h2>

<div class="recipe_container">

    {% for recipe in recipes %}

    <div class="recipe_card">

        <figure class="recipe_image_container">

            {% if recipe.photos|length > 0 %}

            {# affiche la première photo de la collection photos de recipe #}
            <a href="{{ path('detail_recipe', { recipe: recipe.id }) }}">
                <img src="{{ recipe.photos|first.url }}" alt="{{ recipe.photos|first.alt }}">
            </a>

            {# recipe.photos == null -> pas de galerie de photos pour cette recette #}
            {% else %}
            <a href="{{ path('detail_recipe', { recipe: recipe.id }) }}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Question_mark_alternate.svg" alt="Pas encore de photo">
            </a>
            {% endif %}

        </figure>
        <div class="recipe_infos">
            <p>{{ recipe.name }}</p>
            <p>Une recette de {{ recipe.user.pseudo }}</p>
            <p>{{ recipe.category.name }}</p>
            {# <p>Note: {{ recipe.note }} (temp)</p> #}
            <div class="recipe_actions">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{# PARTIE FORM POUR RAJOUTER UNE RECETTE #}

{{ form_errors(addRecipeForm) }}
{{ form_start(addRecipeForm) }}

{{ form_row(addRecipeForm.name) }}
{{ form_row(addRecipeForm.preparationTime) }}
{{ form_row(addRecipeForm.instructions) }}
{# {{ form_row(addRecipeForm.note) }} #}
{{ form_row(addRecipeForm.category) }}

<button type="submit">Publier recette</button>

{{ form_end(addRecipeForm) }}

{% endblock %}