{% extends 'base.html.twig' %}

{% block title %}Nos recettes{% endblock %}

{% block body %}

<h2>Nos recettes</h2>

<div class="recipe_container">

    {% for recipe in recipes %}

    <div class="recipe_card">

        <figure class="recipe_image_container">

            {% if recipe.photos|length > 0 %}

            {# affiche la première photo de la collection photos de recipe #}
            <a href="{{ path('detail_recipe', { recipe: recipe.id }) }}">
                <img src="{{ asset('uploads/gallery/' ~ recipe.photos|first.name) }}" alt="{{ recipe.photos|first.alt }}">{# {{ recipe.photos|first.url }} #}
            </a>

            {# recipe.photos == null -> pas de galerie de photos pour cette recette #}
            {% else %}
            <a href="{{ path('detail_recipe', { recipe: recipe.id }) }}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Question_mark_alternate.svg"
                    alt="Pas encore de photo">
            </a>
            {% endif %}

        </figure>
        <div class="recipe_infos_container">
            <p>{{ recipe.name }}</p>
            <p>Une recette de {{ recipe.user.pseudo }}</p>
            <p>Note: {{ recipe.note }} (temp)</p>
            <a href="{{ path('recipe_category', { category: recipe.category.id }) }}">
                {{ recipe.category.name }}
            </a>
            {% if app.user %}

            <div class="recipe_actions">
                <a href="{{ path('add_favorite', { user: app.user.id, recipe: recipe.id }) }}">
                    <i class="fa-regular fa-heart"></i>
                </a>
                {# <i class="fa-solid fa-plus"></i> #}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% if app.user %}

<div class="recipe_addRecipeForm_container">
    {# PARTIE FORM POUR RAJOUTER UNE RECETTE #}
    <div class="addRecipeForm">
        {{ form_errors(addRecipeForm) }}
        {{ form_start(addRecipeForm) }}

        {# ces "form_row" ne sont pas obligatoires, étant donné que RecipeType définit déjà tous les attributs
        nécessaires,
        mais on peut mettre en forme le form avec l'ordre des lignes #}
        {{ form_row(addRecipeForm.name) }}
        {{ form_row(addRecipeForm.preparationTime) }}
        {{ form_row(addRecipeForm.instructions) }}
        {{ form_row(addRecipeForm.category) }}
        {{ form_row(addRecipeForm.images) }}

        <button type="submit">Publier</button>

        {{ form_end(addRecipeForm) }}
    </div>
    <a href="{{ path('create_recipe') }}">Créer une recette</a>
</div>
{% endif %}

{% endblock %}