{% extends 'base.html.twig' %}

{# {% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('css/listRecipe.css') }}" />

{% endblock %} #}

{% block javascripts %}

  {{ parent() }}
  <script src="{{ asset('js/script.js') }}"></script>

{% endblock %}

{% block meta_description %}

  <meta name="description" content="{{ metaDescription }}">

{% endblock meta_description %}

{% block title %}Nos recettes | Cuizinoz{% endblock %}

{% block body %}
  
<div class="wrapper">
  <nav aria-label="Breadcrumb" class="breadcrumb">
    <ol>
      <li><a href="{{ path('app_home') }}">Accueil</a></li>
      <li><span aria-current="page">Liste recettes</span></li>
    </ol>
  </nav>

  <h1>Nos recettes</h1>
    
  {% include "components/_recipeContainer.html.twig" with { recipes: recipes, filterForm: filterForm, context: 'all' } only %}  

  {% if app.user %}
    {% include "components/_addRecipeBtn.html.twig" %}
  {% endif %}

</div>
{% endblock %}
