{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}

<h2>Nos recettes</h2>

<div class="recipe_container">

    {% for recipe in recipes %}

    <div class="recipe_card">

        <figure class="recipe_image_container">
            {% if recipe.photos != null %}

            {# affiche la première photo de la collection photos de recipe #}
            <img src="{{ recipe.photos|first.url }}" alt="{{ recipe.photos|first.alt }}">

            {# recipe.photos == null -> pas de galerie de photos pour cette recette #}
            {% else %}

            <img src="#" alt="">
            {% endif %}
        </figure>
        {{ recipe.name }} <br>
        Par {{ recipe.user.pseudo }} <br>
        {{ recipe.category.name }} <br>
        Note: {{ recipe.note }}
        <i class="fa-regular fa-heart"></i>
    </div>
    {% endfor %}
</div>

{# PARTIE FORM POUR RAJOUTER UNE RECETTE #}

{{ form_errors(addRecipeForm) }}
{{ form_start(addRecipeForm) }}

{{ form_row(addRecipeForm.name) }}
{{ form_row(addRecipeForm.preparationTime) }}
{{ form_row(addRecipeForm.instructions) }}
{{ form_row(addRecipeForm.note) }}
{{ form_row(addRecipeForm.category) }}

<button type="submit">Publier recette</button>

{{ form_end(addRecipeForm) }}

{% endblock %}