{% extends 'base.html.twig' %}

{# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/listRecipe.css') }}" />

{% endblock %} #}

{% block javascripts %}

<script src="{{ asset('js/script.js') }}"></script>

{% endblock %}

{% block title %}Nos recettes{% endblock %}

{% block body %}

<h2>Recettes {{ user.pseudo }}</h2>

<ul>
    <li>
        Note
        <a href="{{ path('app_recipe', { orderBy: 'note', order: 'ASC' }) }}">
            <i class="fa-solid fa-arrow-down-1-9 sort_btn" data-orderBy="note" data-order="ASC"></i>
        </a>
        <a href="{{ path('app_recipe', { orderBy: 'note', order: 'DESC' }) }}">
            <i class="fa-solid fa-arrow-up-1-9 sort_btn" data-orderBy="note" data-order="DESC"></i>
        </a>
    </li>
    <li>
        A - Z
        <a href="{{ path('app_recipe', { orderBy: 'name', order: 'ASC' }) }}">
            <i class="fa-solid fa-arrow-down-a-z sort_btn" data-orderBy="name" data-order="ASC"></i>
        </a>
        <a href="{{ path('app_recipe', { orderBy: 'name', order: 'DESC' }) }}">
            <i class="fa-solid fa-arrow-up-a-z sort_btn" data-orderBy="name" data-order="DESC"></i>
        </a>
    </li>
</ul>

<div class="recipe_container">
    {% for recipe in user.recipes %}

    <div class="recipe_card">

        <figure class="recipe_image_container">

            {% if recipe.photos|length > 0 %}

            <a href="{{ path('detail_recipe', { recipe: recipe.id }) }}">
                <img src="{{ asset('uploads/gallery/' ~ recipe.photos|first.name) }}" alt="Photo de {{ recipe.name }}">{# {{ recipe.photos|first.url }} #}
            </a>

            {% else %}

            <a href="{{ path('detail_recipe', { recipe: recipe.id }) }}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Question_mark_alternate.svg"
                    alt="Pas encore de photo">
            </a>

            {% endif %}

        </figure>
        <div class="recipe_infos_container">
            <p>{{ recipe.name }}</p>
            <p>Note: {{ recipe.note }} (temp)</p>
            <a href="{{ path('recipe_category', { category: recipe.category.id }) }}">
                {{ recipe.category.name }}
            </a>

            {% if app.user %}

            <div class="recipe_actions">
                <i class="fa-regular fa-heart heart-favorite-btn" data-recipe={{ recipe.id }}></i>
            </div>

            {% endif %}

        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}