{% extends 'base.html.twig' %}

{# {% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('css/listRecipe.css') }}" />

{% endblock stylesheets %} #}

{% block javascripts %}

  <script src="{{ asset('js/script.js') }}"></script>

{% endblock javascripts %}

{% block meta_description %}

  <meta name="description" content="{{ metaDescription }}">

{% endblock meta_description %}

{% block title %}Recettes {{ user.pseudo }}{% endblock title %}

{% block body %}

<div class="wrapper">
  <h1>Recettes {{ user.pseudo }}</h1>

  {% include "components/_recipeContainer.html.twig" with { recipes: recipes, filterForm: filterForm } only %}
  
</div>

{% endblock body %}
