<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta_description %}
      <!-- meta-description content goes here -->
    {% endblock meta_description %}

    <title>
      {% block title %}Welcome!{% endblock title %}
    </title>
    <link rel="icon" href="{{ asset("assets/logoCuizinoz.svg") }}"> 
    
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />

      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      />

      {# NoUISlider CSS #}
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.css"
        integrity="sha512-MKxcSu/LDtbIYHBNAWUQwfB3iVoG9xeMCm32QV5hZ/9lFaQZJVaXfz9aFa0IZExWzCpm7OWvp9zq9gVip/nLMg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />

      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
      />

      <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

    {% endblock stylesheets %} 
    
   
  </head>

  <body>
    <header>
      <a href="{{ path('app_home') }}" title="Retour à l'accueil" class="header_img">
        <img
          fetchpriority="high"
          src="{{ asset('assets/headerLogo.svg') }}"
          alt="Logo Cuizinoz renvoyant vers la page d'accueil"
        />
      </a>

      <nav class="header_links_nav" id="menu">
        <a href="{{ path('app_home') }}" title="Retour à l'accueil" class="header_menu_img">
          <img
            fetchpriority="high"
            src="{{ asset('assets/headerLogo.svg') }}"
            alt="Logo Cuizinoz renvoyant vers la page d'accueil"
          />
        </a>

        <a href="{{ path('app_recipe') }}"><i class="fa-solid fa-book-open menu_link_btn"></i> Recettes </a>
        <span> | </span>
        <a href="{{ path('list_compilation') }}"><i class="fa-solid fa-bookmark menu_link_btn"></i> Collections </a>
        <span> | </span>
        <a href="{{ path('list_category') }}"><i class="fa-solid fa-table-list menu_link_btn"></i> Catégories </a>
        <span> | </span>
        <a href="{{ path('random_recipe') }}"><i class="fa-solid fa-shuffle menu_link_btn"></i> Recette aléatoire </a>
        <div class="link_create_recipe">
          <span> | </span>
          <a href="{{ path('create_recipe') }}"><i class="fa-solid fa-plus menu_link_btn"></i> Créer une recette </a>
        </div>

        {% if not app.user %}

          <a href="{{ path('app_login') }}">Connexion</a>
          <span>|</span>
          <a href="{{ path('app_register') }}">Enregistrement</a>

        {% endif %}
      </nav>

      
      <div class="header_links_btn">
        {% if app.user %}

          <a href="{{ path('app_favorite') }}" title="Vos favoris">
            <i class="fa-solid fa-heart"></i>
          </a>

          <div class="btn_create_recipe">
            <a href="{{ path('create_recipe') }}" title="Créer une recette">
              <i class="fa-solid fa-plus"></i>
            </a>
          </div>

          <a href="{{ path('detailOwn_user') }}" title="Votre profil">
            <i class="fa-solid fa-user"></i>
          </a>

          <a href="{{ path('app_logout') }}" title="Se déconnecter">
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>

        {% endif %}

        <div class="menu_buttons">
          <i class="fa-solid fa-indent hidden" id="header-close-menu-btn"></i>
          <i class="fa-solid fa-align-justify" id="header-open-menu-btn"></i>
        </div>
      </div>
    </header>

    {% block body %}
      <!-- body content goes here -->
    {% endblock %}

    <footer>
      <div class="footer_contact">
        <p class="footer_column_title">Nous contacter</p>

        <div class="footer_column_text">
          <address>

            <span id="tel"></span>
            <script defer>
              const tel = "+33 1 23 45 67 89"
              document.getElementById("tel").innerHTML = `<a href="tel:${tel}">${tel}</a>`
            </script>

          </address>

          <span id="email"></span>
          <script defer>
            const user = "contact"
            const domain = "cuizinoz.fr"
            document.getElementById("email").innerHTML = `<a href="mailto:${user}@${domain}">${user}@${domain}</a>`
          </script>

        </div>
      </div>

      <div class="footer_services">
        <p class="footer_column_title">Services clients</p>
        
        <div class="footer_column_text">
          <a href="#">FAQ</a>
          <a href="#">Newsletter</a>
        </div>
        </div>

      <div class="footer_about_us">
        <p class="footer_column_title">L'entreprise</p>

        <div class="footer_column_text">
          <a href="#">À propos de nous</a>
          <a href="#">Écologie</a>
          <a href="#">Carrières</a>
          <a href="#">CGU</a>
          <a href="#">Politique de confidentialité</a>
          <a href="#">Accessibilité</a>
        </div>
      </div>
    </footer>
    
    {% block javascripts %}
    
      {# NoUISlider script #}
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js"
        integrity="sha512-g/feAizmeiVKSwvfW0Xk3ZHZqv5Zs8PEXEBKzL15pM0SevEvoX8eJ4yFWbqakvRj7vtw1Q97bLzEpG2IVWX0Mg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        defer
        >
      </script>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

      {% block importmap %}
        {{ importmap("app") }}
      {% endblock importmap %} 
        
      <script defer>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 1,
          spaceBetween: 30,
          loop: true,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
      </script>
      
    {% endblock javascripts %}
  </body>
</html>
