<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{
      asset("assets/logoCuizinoz50x50.png")
    }}"> {% block stylesheets %}

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    />

    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

    {% endblock %} {% block javascripts %} {#
    <script src="{{ asset('js/script.js') }}"></script>
    #} {% block importmap %}{{
      importmap("app")
    }}{% endblock %} {% endblock %}
  </head>

  <body>
    <header>
      <a href="{{ path('app_home') }}" title="Retour à l'accueil">
        <img
          src="{{ asset('assets/headerLogo.png') }}"
          alt="Logo Cuizinoz renvoyant vers la page d'accueil"
        />
      </a>

      <nav class="header_links_nav">
        <a href="{{ path('app_recipe') }}"> Recettes </a>
        <span> | </span>
        <a href="{{ path('list_compilation') }}"> Collections </a>
        <span> | </span>
        <a href="{{ path('list_category') }}"> Catégories </a>
        <span> | </span>
        <a href="{{ path('random_recipe') }}"> Recette aléatoire </a>

        {% if not app.user %}

        <a href="{{ path('app_login') }}">Connexion</a>
        <span>|</span>
        <a href="{{ path('app_register') }}">Enregistrement</a>

        {% endif %}
      </nav>

      {% if app.user %}

      <div class="header_links_btn">
        <a
          href="{{ path('app_favorite', { user: app.user.id }) }}"
          title="Vos favoris"
        >
          <i class="fa-solid fa-heart"></i>
        </a>

        <a href="{{ path('create_recipe') }}" title="Créer une recette">
          <i class="fa-solid fa-plus"></i>
          Créer une recette
        </a>

        <a
          href="{{ path('detail_user', { user: app.user.id }) }}"
          title="{{ app.user.pseudo }}"
        >
          <i class="fa-solid fa-user"></i>
        </a>

        <a href="{{ path('app_logout') }}" title="Se déconnecter">
          <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </div>
      {% endif %}
    </header>

    {% block body %} {% endblock %}
  </body>
</html>
