{% extends 'base.html.twig' %}

{# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/detailTag.css') }}" />

{% endblock %} #}

{% block title %}Hello TagController!{% endblock %}

{% block body %}

<h2 class="h2_200_p">{{ tag.name }}</h2>

<div class="compilation_container">
  {% for compilation in compilations %}
  <a href="{{ path('detail_compilation', { compilation: compilation.id }) }}">
    <div class="compilation_card">
      <p>{{ compilation.name }}</p>
      <strong> {{ compilation.recipes | length }} </strong>
      {% if app.user %}
      <div class="compilation_actions">
        <a href="{{ path('add_compilation', { compilation: compilation.id, user: app.user.id }) }}">
          <i class="fa-regular fa-floppy-disk"></i>
        </a>
      </div>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
