<div class="comment_card">
    <div class="comment_photo_infos">
        <figure>
            <a href="{{ path('detail_user', { user: comment.user.id }) }}">
                <img
                    loading="lazy"
                    src="https://placehold.co/400x600/EEE/31343C"
                    alt="Photo de {{ comment.user.pseudo }}"
                >
            </a>
        </figure>
        <div class="comment_infos">
            <p>
                <a href="{{ path('detail_user', { user: comment.user.id }) }}">                
                    {{ comment.user.pseudo }}
                </a>
                <br>
                {{ comment.creationDateFr }}
            </p>
            <div class="comment_note">
                {% if note %}

                    {% if note.note == 0 %}

                        {% for i in range(0, 4, 1) %}
                            <i class="fa-regular fa-star"></i>
                        {% endfor %}

                    {% elseif note.note == 5 %}

                        {% for i in range(0, 4, 1) %}
                            <i class="fa-solid fa-star"></i>
                        {% endfor %}

                    {% else %}

                        {% for i in range(1, note.note, 1) %}
                            <i class="fa-solid fa-star"></i>
                        {% endfor %}

                        {% for i in range(note.note + 1, 5, 1) %}
                            <i class="fa-regular fa-star"></i>
                        {% endfor %}

                    {% endif %}

                {% else %}
                
                    {% for i in range(0, 4, 1) %}
                        <i class="fa-solid fa-star" style="color: #a0a0a0"></i>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
    <div class="comment_title_content">
        <h3>{{ comment.title }}</h3>
        <p class="comment_content">
            {{ comment.content }}
        </p>
    </div>
</div>