{{ form_start(filterForm) }}

    {{ form_row(filterForm.q) }}

    <strong>Catégories</strong>
    {{ form_row(filterForm.categories) }}

    <strong>Note</strong>
    <div>{{ form_row(filterForm.noteMin) }}</div>
    <div>{{ form_row(filterForm.noteMax) }}</div>

    <div id="note-slider"></div>

    <button type="submit">Filtrer</button>

{{ form_end(filterForm) }}