{% extends 'base.html.twig' %}

{# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/listFavorites.css') }}" />

{% endblock %} #}

{% block javascripts %}

    <script src="{{ asset('js/script.js') }}"></script>

{% endblock %}

{% block title %}Vos favoris{% endblock %}

{% block body %}

<div class="recipe_container">

    {# {% for favorite in favorites %} #}
    {% for favorite in pagination.items %}

    <div class="recipe_card" id="{{'recipe-card-' ~ favorite.recipe.id}}">

        <figure class="recipe_image_container">

            {% if favorite.recipe.photos|length > 0 %}

            {# affiche la première photo de la collection photos de recipe #}
            <a href="{{ path('detail_recipe', { recipe: favorite.recipe.id }) }}">
                <img
                src="{{ asset('uploads/gallery/' ~ favorite.recipe.photos|first.name) }}"
                alt="{{ favorite.recipe.photos|first.alt }}"
                />
            </a>

            {# recipe.photos == null -> pas de galerie de photos pour cette recette #}
            {% else %}
            <a href="{{ path('detail_recipe', { recipe: favorite.recipe.id }) }}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Question_mark_alternate.svg"
                    alt="Pas encore de photo">
            </a>
            {% endif %}

        </figure>
        <div class="recipe_infos_container">
            <p>{{ favorite.recipe.name }}</p>
            <p>Une recette de
                <a href="{{ path('detail_user', { user: favorite.recipe.user.id }) }}">                    
                    {{ favorite.recipe.user.pseudo }}
                </a>
            </p>
            <p>Note: (temp)</p>
            <p>{{ favorite.recipe.category.name }}</p>
            <div class="recipe_actions">
                {# <a href="{{ path('remove_favorite', {user: app.user.id, recipe: favorite.recipe.id, favorite: favorite.id }) }}"> #}
                    <i class="fa-solid fa-heart heart-favorite-btn" data-recipe={{ favorite.recipe.id }} data-favorite={{ favorite.id }}></i>
                {# </a> #}
            </div>
        </div>
    </div>

    {# {% endfor %} #}
    {% endfor %}

</div>

<div class="pagination">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}