{% extends 'base.html.twig' %}

{# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/listFavorites.css') }}" />

{% endblock %} #}

{% block javascripts %}

    <script src="{{ asset('js/script.js') }}"></script>

{% endblock %}

{% block title %}Vos favoris | Cuizinoz{% endblock %}

{% block body %}

<div class="wrapper">

    <h1>Vos favoris</h1>

    {% if pagination.items|length > 0 %}
    
    <div class="recipe_container">
        
        {# {% for favorite in favorites %} #}
    {% for favorite in pagination.items %}

    <div class="recipe_card" id="{{'recipe-card-' ~ favorite.recipe.id}}">

        <figure class="recipe_image_container">
            
            {% if favorite.recipe.photos|length > 0 %}
            
            {# affiche la première photo de la collection photos de recipe #}
            <a href="{{ path('detail_recipe', { recipe: favorite.recipe.id }) }}">
                <img
                src="{{ asset('uploads/gallery/' ~ favorite.recipe.photos|first.name) }}"
                alt="{{ favorite.recipe.photos|first.alt }}"
                />
            </a>
            
            {# recipe.photos == null -> pas de galerie de photos pour cette recette #}
            {% else %}
            <a href="{{ path('detail_recipe', { recipe: favorite.recipe.id }) }}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Question_mark_alternate.svg"
                alt="Pas encore de photo">
            </a>
            {% endif %}

        </figure>
        <div class="recipe_infos_container">
            <p>{{ favorite.recipe.name }}</p>
            <p>Une recette de
                <a href="{{ path('detail_user', { user: favorite.recipe.user.id }) }}">                    
                    {{ favorite.recipe.user.pseudo }}
                </a>
            </p>
            
            {% if favorite.recipe.notes|length > 0 %}
            <!-- Note arrondie au demi ou entier le plus proche -->
            <!--
              1.3 => 1.5
              3.8 => 4
            -->
            {% set roundedNote = (favorite.recipe.averageNote * 2)|round / 2 %}
  
            <div title={{ favorite.recipe.averageNote ~ "/5" }}>
                <!-- Remplissage d'étoiles pleines -->
                {% if roundedNote|round(0, 'floor') > 0 %} 
                  {% for i in range(1, roundedNote|round(0, 'floor'), 1) %}
                  
                    <i class="fa-solid fa-star"></i>
                  
                  {% endfor %}
                {% endif %}

                <!-- Ajout demi-étoile si roundedNote décimal -->
                {% if roundedNote != roundedNote|round(0, 'floor') %}

                  <i class="fa-solid fa-star-half-stroke"></i>

                {% endif %}

                <!-- Complétion avec étoiles vides si besoin -->
                {% if roundedNote|round(0, 'ceil') < 5 %}
                  {% for i in range(roundedNote|round(0, 'ceil'), 4, 1) %}
                  
                    <i class="fa-regular fa-star"></i>
                  
                  {% endfor %}
                {% endif %}
            </div>
  
          {% else %}
  
            <div title="Non noté">
              {% for i in range(1, 5, 1) %}

                <i class="fa-solid fa-star" style="color: #a0a0a0"></i>
                  
              {% endfor %}
            </div>
  
          {% endif %}

            <p>{{ favorite.recipe.category.name }}</p>
            {% if app.user == favorite.user %}
            <div class="recipe_actions">
                <i class="fa-solid fa-heart heart-favorite-btn" data-recipe={{ favorite.recipe.id }} data-favorite={{ favorite.id }}></i>
            </div>
            {% endif %}
            </div>
        </div>
        
        {# {% endfor %} #}
        {% endfor %}
        
    </div>
    
    <div class="pagination">
    {{ knp_pagination_render(pagination) }}
    </div>

    {% else %}

    <p>Il n'y a pas en core de favoris</p>

    {% endif %}

</div>
{% endblock %}