{% extends 'base.html.twig' %}

{# {% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/detailUser.css') }}" />

{% endblock %} #}

{% block javascripts %}

    <script src="{{ asset('js/script.js') }}" defer></script>

{% endblock %}

{% block meta_description %}

  <meta name="description" content="{{ metaDescription }}">

{% endblock meta_description %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="wrapper">
    <nav aria-label="Breadcrumb" class="breadcrumb">
        <ol>
          <li><a href="{{ path('app_home') }}">Accueil</a></li>
          <li><span aria-current="page">Votre profil</span></li>
        </ol>
    </nav>

    <h1 class="h2_200_p">{{ user.pseudo }}</h1>

    <section class="detail_user_photo_info_container">
        <figure class="detail_user_photo_container">

            {% if user.profilePicture %}

                <img loading="lazy" src="{{ user.profilePicture }}" alt="{{ "Photo de profil de " ~ user.pseudo }}" class="detail_user_photo">

            {% else %}

                <img loading="lazy" src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Question_mark_alternate.svg" alt="Pas de photo de profil" class="detail_user_photo">

            {% endif %}

        </figure>
        <div class="detail_user_info_container">

            <h3>Biographie</h3>
            <p>{{ user.biography }}</p>

        </div>
    </section>

    <h2 class="h2_200_p">Infos supplémentaires</h2>

    <section class="detail_user_more_info_container">

        <p>Adresse mail: {{ user.email }}</p>
        <p>Date d'inscription: {{ user.registrationDateFr }}</p>

    </section>

    <section class="detail_user_actions_container">

        <a href="{{ path('edit_user', { user: user.id }) }}">
            Modifier le profil
        </a>

        <a href="{{ path('delete_user') }}">
            Supprimer votre compte <i class="fa-solid fa-trash"></i>
        </a>

        <a href="{{ path('edit_picture_user', { user: user.id }) }}">
            Modifier la photo de profil
        </a>

    </section>

    <h1>TODO: Popup des followers et des followees</h1>

    <strong>{{ followees|length }}</strong> personnes suivies, <strong>{{ followers|length }}</strong> followers<br>

    <h3>Followers: </h3>

    {% if followers|length > 0 %}

    {% for follower in followers %}

    <a href="{{ path('detail_user', { user: follower.id }) }}">{{ follower.pseudo }}</a>
    {% endfor %}
    {% else %}

    <p>Pas de follower</p>
    {% endif %}

    <h3>Suit: </h3>

    {% if followees|length > 0 %}

    {% for followee in followees %}

    <a href="{{ path('detail_user', { user: followee.id }) }}">{{ followee.pseudo }}</a>
    {% if app.user == user %}
        
    <a href="{{ path('unfollow_user', { follower: app.user.id, followee: followee.id }) }}">
        <i class="fa-solid fa-minus"></i>
    </a>
    <br>
    {% else %}

    <br>
    {% endif %}
    {% endfor %}
    {% else %}

    <p>Ne suit personne</p>
    {% endif %}

    <section class="detail_user_creations_container">

        <h2>Top recettes</h2>

        {% if recipes|length > 0 %}
            
        <div class="recipe_container">
            {% for recipe in recipes %}
        
            <div class="recipe_card">
        
                <figure class="recipe_image_container">
        
                    {% if recipe.photos|length > 0 %}
        
                    <a href="{{ path('detail_recipe', { recipe: recipe.id }) }}">
                        <img loading="lazy" src="{{ asset('uploads/gallery/' ~ recipe.photos|first.name) }}" alt="Photo de {{ recipe.name }}">{# {{ recipe.photos|first.url }} #}
                    </a>
        
                    {% else %}
        
                    <a href="{{ path('detail_recipe', { recipe: recipe.id }) }}">
                        <img loading="lazy" src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Question_mark_alternate.svg"
                            alt="Pas encore de photo">
                    </a>
        
                    {% endif %}
        
                </figure>
                <div class="recipe_infos_container">
                    <p>{{ recipe.name }}</p>
                    <p>Une recette de
                        <a href="{{ path('detail_user', {user: recipe.user.id}) }}">
                            {{ recipe.user.pseudo }}
                        </a>
                    </p>
                    
                    {% include "components/_stars.html.twig" with { recipe: recipe } only %}

                    <a href="{{ path('detail_category', { category: recipe.category.id }) }}">
                        {{ recipe.category.name }}
                    </a>
        
                    {% if app.user %}
        
                    <div class="recipe_actions">
                        <i class="fa-regular fa-heart heart-favorite-btn" data-recipe={{ recipe.id }}></i>
                    </div>
        
                    {% endif %}
        
                </div>
            </div>
        
            {% endfor %}
        
        </div>

        <a href="{{ path('user_recipe', { id: user.id }) }}">Toutes les recettes</a>

        {% else %}

        <h3>Pas de recettes créées</h3>

        {% endif %}

        <h2>Dernières collections</h2>
        
        {% if compilations|length > 0 %}
        
        <div class="compilation_container">
            
            {% for compilation in compilations %}
            
            <a href="{{ path('detail_compilation', { compilation: compilation.id }) }}">
                <div class="compilation_card">
                    <p>{{ compilation.name }}</p>
                    <strong> {{ compilation.recipes | length }} </strong>
                    
                    {% if app.user %}
                    
                <div class="compilation_actions">
                <a href="{{ path('add_compilation', { compilation: compilation.id, user: app.user.id }) }}">
                    <i class="fa-regular fa-floppy-disk"></i>
                </a>
                </div>

                {% endif %}

            </div>
            </a>

            {% endfor %}

        </div>
        
        <a href="{{ path('app_compilation', {user: user.id}) }}">Toutes les collections</a>

        {% else %}

        <h3>Pas de collections</h3>
        <a href="{{ path('app_compilation', {user: user.id}) }}">Toutes les collections / Créer une collection</a>

        {% endif %}

        <h2>Derniers commentaires</h2>
        
        {% if comments|length > 0 %}

        <div class="home_section_4_comment_container">
            
            {% for comment in comments %}
        
            <div class="home_section_4_comment_card">
            <h4>{{ comment.title }}</h4>
            <p>Dans
                <a href="{{ path('detail_recipe', {recipe: comment.recipe.id}) }}">          
                {{ comment.recipe.name }}
                </a>
            </p>
            <p>{{ comment.content }}</p>
            {{ comment.creationDateFr }}
            </div>
        
            {% endfor %}
        </div>
        
        {% else %}

        <h3>Pas de commentaires écris</h3>

        {% endif %}

    </section>

</div>

{% endblock %}