{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<h1>TODO: Popup des followers et des followees</h1>

<h2>{{ user.pseudo }}</h2>

<strong>{{ followees|length }}</strong> personnes suivies, <strong>{{ followers|length }}</strong> followers<br>

<h3>Followers: </h3>

{% if followers|length > 0 %}
    
{% for follower in followers %}

    {{ follower.pseudo }} <br>
{% endfor %}
{% else %}

<p>Pas de follower :(</p>
{% endif %}

<h3>Personnes suivies: </h3>

{% if followees|length > 0 %}    

{% for followee in followees %}

{{ followee.pseudo }} <br>
{% endfor %}
{% else %}

<p>Vous ne suivez personne</p>
{% endif %}

<h2>Liste utilisateurs</h2>

{% for user in users %}
{{ user.pseudo }} <a href="{{ path('follow_user', { follower: app.user.id, followee: user.id }) }}"><i class="fa-solid fa-plus"></i></a><a href="{{ path('unfollow_user', { follower: app.user.id, followee: user.id }) }}"><i class="fa-solid fa-minus"></i></a><br>
{% endfor %}

{% endblock %}