{% extends 'base.html.twig' %} {# {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/editUser.css') }}" />

{% endblock %} #} {% block title %}Hello UserController!{% endblock %} {% block
body %}

<div class="wrapper">
  <div class="h2_200_p">
    {{ form_errors(editUserForm) }}

    {{ form_start(editUserForm) }}

    {{ form_row(editUserForm.pseudo) }}
    {{ form_row(editUserForm.biography) }}

    <button type="submit">Modifier profil</button>

    {{ form_end(editUserForm) }}
  </div>
</div>

{% endblock %}
